In [71]:
# import importan libs 

import pandas as pd
from scipy.stats import pearsonr
# import seaborn as sns
# import matplotlib.pyplot as plt
import numpy as np


**This function reads the dataset in CSV format only..**
> depended what the software will do maybe only read one format such as in my example(CSV) or more. If we need more, we need to read other formats.

> **Read_data Function Do**

1.   Input /paramart the path of file
2.   return date as dataframe

In [59]:
def read_data(url):
  try:
    df= pd.read_csv(url,error_bad_lines=False)
  except FileNotFoundError:
    return('FileNotFoundError') 
  return(df)



> **reomve_highly_corr Function Do**

1.   Input /paramart the path of file
2.   remove corr more than .85

In [64]:
def reomve_highly_corr(df):
  # Calculate the correlation matrix and take the absolute value
  p_corr = df.corr(method='pearson').abs()

  # Create a True/False mask and apply it
  mask = np.triu(np.ones_like(p_corr, dtype=bool))
  tri_df = p_corr.mask(mask)

  # List column names of highly correlated features (P_corr > 0.95)
  to_drop = [c for c in tri_df.columns if any(tri_df[c] >  0.85)]

  # Drop the features in the to_drop list
  reduced_df = df.drop(to_drop, axis=1)
  return(reduced_df)

**Runcode Function Do**

> Run all previous function. 

> Take one paramert Path of file.

In [65]:
def runcode(url):
  df =read_data(url)
  df_change=reomve_highly_corr(df)
  return(df_change)



> **Test Section**

In [66]:
url1='/content/drive/My Drive/LannetTechnologies/db/Rate.csv'
   
runcode(url1)

    HsPrc ($10,000)  CrimeRate  MilesPhila  PopChg        Name    County
0           14.0463       29.7        10.0    -1.0    Abington  Montgome
1           11.3033       24.1        18.0     4.0      Ambler  Montgome
2           12.4186       19.5        25.0     8.0       Aston  Delaware
3           11.0490       49.4        25.0     2.7    Bensalem     Bucks
4            7.9124       54.1        19.0     3.9  Bristol B.     Bucks
..              ...        ...         ...     ...         ...       ...
94          17.4232       13.8        25.0     4.7    Westtown   Chester
95          19.6515       29.9        16.0     1.8  Whitemarsh  Montgome
96          23.2714        9.9        21.0     0.2  Willistown   Chester
97          24.5920       22.6        10.0     0.3   Wynnewood  Montgome
98          13.0953       13.0        24.0     5.2     Yardley     Bucks

[99 rows x 6 columns]

In [69]:
runcode('/content/drive/My Drive/LannetTechnologies/db/test.csv')

     variable1 variable2  variable3  ... variable18 variable19 classLabel
0            a     17,92    5,4e-05  ...          t          0        no.
1            b     16,92   3,35e-05  ...        NaN          0        no.
2            b     31,25  0,0001125  ...          t          0        no.
3            a     48,17  0,0001335  ...        NaN          0        no.
4            b     32,33    0,00035  ...          f          0        no.
...        ...       ...        ...  ...        ...        ...        ...
3695         a     18,75    0,00075  ...          t          1       yes.
3696         a      23,5      9e-04  ...          t          1       yes.
3697         b     34,17   0,000917  ...        NaN          1       yes.
3698         b     27,83   0,000154  ...        NaN          1       yes.
3699         a     36,75  0,0005125  ...          f          1       yes.

[3700 rows x 18 columns]

In [70]:
runcode('/content/drive/My Drive/LannetTechnologies/db/date111.csv')

     day        date    priceUSD
0      1  1.12.2017.  808.333333
1      2  2.12.2017.  808.333333
2      3  3.12.2017.  808.333333
3      4  4.12.2017.  808.333333
4      5  5.12.2017.  808.333333
..   ...         ...         ...
177  178  27.5.2018.  975.000000
178  179  28.5.2018.  966.666667
179  180  29.5.2018.  941.666667
180  181  30.5.2018.  925.000000
181  182  31.5.2018.  925.000000

[182 rows x 3 columns]